<html>
    <head></head>
    <body>
        <ul>
            <li><strong>artifactId</strong> : {{.ArtifactID}}</li>
            <li><strong>version</strong> : {{.Version}}</li>
        </ul>
    </body>
</html>